<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
<!--引用和被引用的组件 必须都在ioc容器-->
<!--1 单个构造参数注入-->

<!--
    springioc是高级容器，内部有缓存动作      1 先创建对象【ioc】2 再属性赋值【di】
-->
    <bean id="userDao" class="com.xxx.ioc_02.UserDao"/>
    <bean id="userService" class="com.xxx.ioc_02.UserService">
<!--构造参数传值 di配置
        <constructer-arg 构造参数传值的di配置
            value = 直接属性值
            raf = 引用其他的bean
-->
        <constructor-arg ref = "userDao"/>
    </bean>

<!--    步骤1 把他们都放在ioc容器中-->
    <bean id="userDao" class="com.xxx.ioc_02.UserDao"/>

<!--    2 多个构造参数注入-->
    <bean id="userServicel" class="com.xxx.ioc_02.UserService">
<!--    方案一：构造参数的顺序填写值-->
        <constructor-arg value="18"/>
        <constructor-arg value="wwww"/>
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userServicel" class="com.xxx.ioc_02.UserService">
        <!--    方案二：构造参数的顺序填写值-->
        <constructor-arg name="name" value="wwww"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userServicel" class="com.xxx.ioc_02.UserService">
        <!--    方案二：构造参数的下角标填写值-->
        <constructor-arg index="1" value="wwww"/>
        <constructor-arg index="0" value="18"/>
        <constructor-arg index="2" ref="userDao"/>
    </bean>

<!--    3 触发setter方法进行注入-->
    <bean id="movieFinder" class="com.xxx.ioc_02.MovieFinder"/>

    <bean id="simplemovielister" class="com.xxx.ioc_02.SimpleMovieLister">
        <!--    name 属性名 setter 调用set方法的名-->
<!--                setMovieFinder -》 movieFinder-->
        <property name="movieName" value="xiaoshideta"/>
    </bean>

<!--    <bean>-->
<!--        <property name="aaa" ref="1aaa"/>-->
<!--        <property name="bbb" value="ccc"/>-->
<!--    </bean>-->
<!--    <bean id="1aaa" class="com.xxx.ioc_02.SimpleMovieLister"/>-->
</beans>

