<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
    init-method = "初始化方法名"
    destroy-method = "初始化方法名"
    spring ioc容器会在对应时间回调对应方法，可以在其中写对应业务

-->
    <bean id="javaBean" class="com.xxx.ioc_04.JavaBean" init-method="init" destroy-method="clear"/>

<!--
    声明bean信息    默认单例
-->
    <bean id="" class="com.xxx.ioc_04.javaBean2" scope="singleton"/>

</beans>