<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    init-method初始化方法  destroy-method销毁方法-->
    <bean id="javaBean" class="com.xxx.ioc_04.JavaBean" init-method="init" destroy-method="destroy"/>

<!--    声明一个组件信息 默认单例-->
    <bean id="javaBean2" class="com.xxx.ioc_04.JavaBean2" scope="prototype"/>
</beans>